#header {
	margin: 10px auto 10px auto;
	width: 100%;
}

#header h1 {
	text-align: center;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 70px;
	text-shadow: 2px 2px #e0e0e0;
	color: #5a5a5a;
}

#header input {
	text-align: center;
}

.options {
	text-align: right;
}