<!DOCTYPE html>
<html>
<head>
	<title>Project Expect</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Bellefair" rel="stylesheet">
	<!-- Styles -->
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<linl rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/styles.css">
</head>
<body>
	<section id="page-header"><h1>Project Expect</h1></section>
	<section id="projectapp" class="container-fluid">
		<header id="header" class="row">
			<input id="new-task" placeholder="What needs to be accomplished?">
		</header>
		<section id="tasks" class="row"></section>
		<footer id="footer" class="row"></footer>
	</section>
	<section id="page-footer">© Antoine Guenet 2017</section>

    <script type="text/template" id="task-template">
	    <span class="options">
			<i class="fa fa-remove" id="delete"></i>
			<i class="fa fa-minus" id="collapse"></i>
		</span>
		<label id="task-name"><%= title %></label>
		<input id="edit-task" class="hidden" value="<%= title %>" onfocus="this.value = this.value;">
  	</script>

  	<script type="text/template" id="expectations-list-template">
  		<input id="new-expectation" placeholder="What do you expect from this task?">
  	</script>
  	
  	<script type="text/template" id="expectation-template">
  		<span class="options">
	  		<i class="fa fa-check" id="complete"></i>
	  		<i class="fa fa-remove" id="delete"></i>
	  	</span>
  		<label id="expectation-name"><%= title %></label>
		<input id="edit-expectation" class="hidden" value="<%= title %>" onfocus="this.value = this.value;">
  	</script>

	<script src="bower_components/jquery/dist/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="bower_components/underscore/underscore-min.js"></script>
	<script src="bower_components/backbone/backbone-min.js"></script>
	<script src="bower_components/backbone.localStorage/build/backbone.localStorage.min.js"></script>
	<script src="js/models/Project.js"></script>
    <script src="js/models/Task.js"></script>
    <script src="js/models/Expectation.js"></script>
    <script src="js/collections/Expectations.js"></script>
    <script src="js/collections/Tasks.js"></script>
    <script src="js/views/ExpectationView.js"></script>
    <script src="js/views/ExpectationsListView.js"></script>
    <script src="js/views/TaskView.js"></script>
    <script src="js/views/AppView.js"></script>
</body>
</html>