<!DOCTYPE html>
<html>
<head>
	<title>Project Expect</title>
</head>
<body>
	
	<section id="projectapp">
		<header id="header">
			<h1>Project Expect</h1>
			<input id="new-task" placeholder="What needs to be accomplished?" autofocus>
		</header>
		<section id="tasks"></section>
		<footer id="footer"></footer>
	</section>

    <script type="text/template" id="task-template">
		<%= title %>
		<input class="new-expectation" id="<%= cid %>" placeholder="What do you expect from this task?" autofocus>
  	</script>
  	<script type="text/template" id="expectation-template">
  		<%= title %>
  	</script>

	<script src="bower_components/jquery/dist/jquery.min.js"></script>
	<script src="bower_components/underscore/underscore-min.js"></script>
	<script src="bower_components/backbone/backbone-min.js"></script>
	<script src="js/models/Project.js"></script>
    <script src="js/models/Task.js"></script>
    <script src="js/models/Expectation.js"></script>
    <script src="js/collections/Expectations.js"></script>
    <script src="js/collections/Tasks.js"></script>
    <script src="js/views/ExpectationView.js"></script>
    <script src="js/views/TaskView.js"></script>
    <script src="js/views/AppView.js"></script>
</body>
</html>