{% extends "base.html" %}
{% block title %}Project Expect{% endblock %}
{% block content %}
	<main id="projectapp">
		<section id="header">
			<h1>Project Expect</h1>
			<div class="container">
				<input id="new-task" placeholder="Enter your task here">
			</div>
		</section>
		<section id="content" class="container">
			<ul id="tasks" class="collapsible popout" data-collapsible="expandable"></ul>
		</section>
	</main>
{% endblock %}

{% block scripts %}
	<!-- TEMPLATES -->
	<script type="text/template" id="task-template">
    	<div class="collapsible-header">
    		<input class="col s12" id="task-name" value="<%= title %>" onfocus="this.value = this.value;">
    		<span class="options col s2">
		  		<i class="material-icons delete-btn" id="delete-task">clear</i>
	  		</span>
    	</div>
  	</script>

  	<script type="text/template" id="expectations-list-template">
  		<input id="new-expectation" placeholder="What do you expect from this task?">
  	</script>
  	
  	<script type="text/template" id="expectation-template">
  		<input class="col s10" id="expectation-name" value="<%= title %>" onfocus="this.value = this.value;">
  		<span class="options col s2">
	  		<i class="small material-icons complete-btn" id="complete">check</i>
	  		<i class="small material-icons delete-btn" id="delete-exp">clear</i>
	  	</span>
  	</script>

	<script src="static/bower_components/jquery/dist/jquery.min.js"></script>
  	<script src="static/js/materialize.min.js" type="text/javascript" ></script>
  	<script src="static/bower_components/underscore/underscore-min.js"></script>
  	<script src="static/bower_components/backbone/backbone-min.js"></script>
  	<script src="static/js/models/Project.js"></script>
    <script src="static/js/models/Task.js"></script>
    <script src="static/js/models/Expectation.js"></script>
    <script src="static/js/collections/Expectations.js"></script>
    <script src="static/js/collections/Tasks.js"></script>
    <script src="static/js/views/ExpectationView.js"></script>
    <script src="static/js/views/ExpectationsListView.js"></script>
    <script src="static/js/views/TaskView.js"></script>
    <script src="static/js/views/AppView.js"></script>
<!-- FLASK -->
  	<script>
  		tasks.url = '{{ url_for("task_create") }}';
        tasks.reset({{ tasks | safe }});
    </script>
{% endblock %}