<!DOCTYPE html>
<html>
<head>
	<title>Project Expect</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta charset="UTF-8">
	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Bellefair" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<!-- Styles -->
	<link type="text/css" rel="stylesheet" href="static/css/materialize.min.css"  media="screen,projection"/>
	<link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
	<main id="projectapp">
		<section id="header">
			<h1>Project Expect</h1>
			<div class="container">
				<input id="new-task" placeholder="Enter your task here">
			</div>
		</section>
		<section id="content" class="container">
			<ul id="tasks" class="collapsible popout" data-collapsible="expandable"></ul>
		</section>
	</main>

	<footer class="page-footer green lighten-4">
      	<div class="footer-copyright">
        	<div class="container">
        		© 2017 Antoine Guenet
        	</div>
      	</div>
    </footer>

    <!-- TEMPLATES -->
	<script type="text/template" id="task-template">
    	<div class="collapsible-header">
    		<input class="col s12" id="task-name" value="<%= title %>" onfocus="this.value = this.value;">
    		<span class="options col s2">
		  		<i class="material-icons delete-btn" id="delete-task">clear</i>
	  		</span>
    	</div>
  	</script>

  	<script type="text/template" id="expectations-list-template">
  		<input id="new-expectation" placeholder="What do you expect from this task?">
  	</script>
  	
  	<script type="text/template" id="expectation-template">
  		<input class="col s10" id="expectation-name" value="<%= title %>" onfocus="this.value = this.value;">
  		<span class="options col s2">
	  		<i class="small material-icons complete-btn" id="complete">check</i>
	  		<i class="small material-icons delete-btn" id="delete-exp">clear</i>
	  	</span>
  	</script>

	<script src="bower_components/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="static/js/materialize.min.js"></script>
	<script src="static/bower_components/underscore/underscore-min.js"></script>
	<script src="static/bower_components/backbone/backbone-min.js"></script>
	<script src="static/bower_components/backbone.localStorage/build/backbone.localStorage.min.js"></script>
	<script src="static/js/models/Project.js"></script>
    <script src="static/js/models/Task.js"></script>
    <script src="static/js/models/Expectation.js"></script>
    <script src="static/js/collections/Expectations.js"></script>
    <script src="static/js/collections/Tasks.js"></script>
    <script src="static/js/views/ExpectationView.js"></script>
    <script src="static/js/views/ExpectationsListView.js"></script>
    <script src="static/js/views/TaskView.js"></script>
    <script src="static/js/views/AppView.js"></script>
</body>
</html>